<div class="image">
    <img src="https://codematrix.nl/wp-content/uploads/2020/05/download-1024x576.png" alt="Matrix Master">
  </div>
  <p id="footer"> Copyright © 2022 By Navjot Kaur & Yevhen </p>

</body>
</html>