<%- include('components/header'); -%>
<a href="/community">Back To Question</a>
 <h2 > Please Add Your Question Here:- </h2>
        
          
        <% if(formError) { %>
            <h5 class="error"> <%= formError %> </h5>
        <% } %>
<form action="/addquestions/?user_id=<%= userid %>" method="POST">
           <h3>Title : </h2>
             <input type="text" placeholder="Title" name="title" required  />
            <h3>Description : </h2>
             <textarea name="text" row='3' /></textarea>
            <button class="btn btn-secondary">Add Question</button>
        </form>
    
        <%- include('components/footer'); -%>

