body{
    background-color:#EFEFEF;
    
    
}

h3{
    color:brown;
    text-align: center;
    margin-top: 50px;
}
#footer{
    text-align: center;
    margin-top: 30%;
    color:#002B5B ;
    font-size: 20px;
    font-weight: bold;
}
#nav-bar {
    margin-top:50px;
    width: 100%;
    
}
#nav-bar .a-href{
    margin-left:70%;
}
.image{
    width: 10%;
    height: 30px;
    margin-left: 500px ;
}
h1{
    color: #411530;
    text-align: center;
    margin-top: 50px;
}
label{
    display: block;
    margin-left: 100px;
}
input{
    margin-left: 100px;
    width: 30%;
}
.login-btn{
    position: absolute;
    margin:50px 20px 0 0;
}
.signup-btn{
    position: absolute;
    margin:30px 0 0 500px;
}

#sign-up{
    margin-left: 70px;
    font-weight: bolder;
    font-size: 20px;
}



